* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #0041C2;
    --backgound-blue: #1589FF;
    --light-blue: #5CB3FF;
    --grey: #333;
}

/* Header Style Start */
header {
    display: flex;
    margin: 0 40px;
    justify-content: space-between;
}
.view-high-scores {
    color: var(--light-blue);
}

/* "View High Score style */
/* Timer Style?? */

/* Styles for Titles/Questions */

/* Styles for descriptions/p */

/* Styles for buttons */

/* Styles for Correct/Wrong message */

/* Styles for Score/Initial form */

/* Styles for Highscore page */

/* Media Queries for different screen sizes */